{% trans_default_domain 'FOSUserBundle' %}
<div class="container input-form">
    {% if error %}
        <div class="alert alert-danger text-center mt-4" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <h1 class="text-center mt-4">Вход в систему</h1>
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="form-group">

            <label for="username">Логин / Email</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                   required="required" autocomplete="username"/>
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required"
                   autocomplete="current-password"/>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on"/>
            <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div>
            <button class="btn btn-success" type="submit" id="_submit"
                    name="_submit">{{ 'security.login.submit'|trans }}</button>
        </div>
    </form>
</div>

