{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">

        {% set filter = app.session.get('filter') %}

        <form action="{{ path('main_filter') }}" style="border: 1px #eee solid; padding: 10px; margin: 20px 0;"
              method="post">
            <label for="categories">Фильтр по категориям</label>
            <select id="categories" class="custom-select" name="categories[]" multiple>
                {% for category in categories %}
                    <option value="{{ category.id }}"
                            {% if filter['categories'] is defined %}{{ category.id in filter['categories'] ? 'selected' }}{% endif %}
                    >{{ category.title }}</option>
                {% endfor %}
            </select>
            <label for="tags">Фильтр по тагам</label>
            <select id="tags" class="custom-select" name="tags[]" multiple>
                {% for tag in tags %}
                    <option value="{{ tag.id }}"
                            {% if filter['tags'] is defined %}{{ tag.id in filter['tags'] ? 'selected' }}{% endif %}
                    >{{ tag.title }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-2">Фильтровать</button>
        </form>

        {% for news in pagination %}

            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <span class="mr-4">
                        <strong>Автор:</strong> {{ news.author }}
                    </span>
                    <span class="mr-4">
                        <strong>Рейтинг:</strong> {{ rating[news.author.id]|number_format(2, '.', ',') }}
                    </span>
                    <span class="mr-4">
                        <strong>Создано:</strong> {{ news.createdAt|date('d-m-Y') }}
                    </span>
                    <span>
                        <strong>Опубликовано:</strong> {{ news.publishedAt|date('d-m-Y') }}
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text small">
                        Категории:
                        {% for category in news.categories %}
                            <span class="badge badge-warning">{{ category.title }}</span>
                        {% endfor %}
                        Таги:
                        {% for tag in news.tags %}
                            <span class="badge badge-secondary">{{ tag.title }}</span>
                        {% endfor %}
                    </p>
                    <p class="card-text">{{ news.content }}</p>
                    <a href="{{ path('main_show', {id: news.id}) }}" class="btn btn-success"
                       title="Cмотреть новость {{ news.title }}">Смотреть</a>
                </div>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}