{% extends 'profile/layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="mt-4">
            <p><strong>Логин:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Ваш рейтинг:</strong> {{ rating|number_format(2, '.', ',') }}</p>
        </div>
    </div>
{% endblock %}