{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <h3 class="text-center mt-4">Вы успешно зарегестрировались!</h3>
        <p class="text-center">Войдите в личный кабинет, чтобы управлять новостями.</p>
        <div class="text-center">
            <a href="{{ path('profile_main_index') }}" class="btn btn-warning">Личный кабинет</a>
        </div>
    </div>
{% endblock fos_user_content %}
