{% trans_default_domain 'FOSUserBundle' %}
<div class="container input-form">
    <h1 class="text-center mt-4">Регистрация</h1>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'novalidate' : 'novalidate'}}) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <button class="btn btn-primary" type="submit">{{ 'registration.submit'|trans }}</button>
    {{ form_end(form) }}
</div>