{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Добавление новости</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.active, {'attr': {'class' : 'activeChoice'}}) }}
        {{ form_row(form.publishedAt, {'attr': {'class' : 'publishDate', 'placeholder' : 'Дата публикации'}}) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.tags) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            let publishDate = $('.publishDate');
            publishDate.datepicker({
                dateFormat: 'dd/mm/yy'
            });

            publishDate.hide();

            $('.activeChoice').change(function() {
                if(this.checked) {
                    publishDate.show();
                } else {
                    publishDate.hide();
                }
            });
        });
    </script>
{% endblock %}