{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h4 class="text-center mt-4">{{ news.title }}</h4>
        <p class="small text-right">
            <strong>Создано:</strong> {{ news.createdAt|date('d-m-Y') }}
            <strong>Дата публикации:</strong> {{ news.publishedAt|date('d-m-Y') }}
            <strong>Автор:</strong> {{ news.author }}
        </p>
        <p class="text-right small">
            Категории:
            {% for category in news.categories %}
                <span class="badge badge-warning">{{ category.title }}</span>
            {% endfor %}
            Таги:
            {% for tag in news.tags %}
                <span class="badge badge-secondary">{{ tag.title }}</span>
            {% endfor %}
        </p>
        <p>{{ news.content }}</p>

        <ul class="list-group mt-2 mb-2">
            {% for comment in comments %}
                <li class="list-group-item"><strong>{{ comment.user.username }}:</strong> {{ comment.text }}</li>
                {#<div class="card mt-2 mb-2">#}
                    {#<div class="card-header">#}
                        {#Комментарий#}
                    {#</div>#}
                    {#<div class="card-body">#}
                        {#<h5 class="card-title">{{ comment.user.username }}</h5>#}
                        {#<p class="card-text">{{ comment.text }}</p>#}
                    {#</div>#}
                {#</div>#}
            {% endfor %}


        </ul>

        {% if is_granted('ROLE_USER') %}
            {% if hideRatingForm %}
                <p class="text-warning">Данная статься была оценена Вами.</p>
            {% else %}
                <hr>
                {{ form_start(ratingForm) }}
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(ratingForm.quality) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(ratingForm.relevance) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(ratingForm.satisfaction) }}
                    </div>
                </div>
                <div class="text-center">
                    {{ form_row(ratingForm.submit, {'attr' : {'class' : 'btn-primary ml-2'}}) }}
                </div>
                {{ form_end(ratingForm) }}
            {% endif %}

            {{ form_start(commentForm) }}
            {{ form_row(commentForm.text) }}
            {{ form_row(commentForm.submit, {'attr' : {'class' : 'btn-primary'}}) }}
            {{ form_end(commentForm) }}
        {% endif %}

    </div>
{% endblock %}