{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Новости</h3>

        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'ID', 'c.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Автор', 'c.user') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Содержание', 'c.text') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата', 'c.createdAt') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Статус', 'c.active') }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination %}
                <tr>
                    <th scope="row">{{ comment.id }}</th>
                    <td>{{ comment.user.username }}</td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.createdAt|date('d-m-Y') }}</td>
                    <td>{{ comment.active ? 'Активен' : 'Неактивен' }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% if comment.active == false %}
                                <a href="{{ path('admin_comment_publish', {id: comment.id}) }}"
                                   class="btn btn-primary">Публиковать</a>
                            {% endif %}
                            <a href="{{ path('admin_comment_delete', {id: comment.id}) }}"
                               class="btn btn-danger delete-comment">Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.delete-comment').on('click', function () {
                if (confirm('Вы уверены что хотите удалить эту новость?')) {
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}
