{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}">News.kg</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item active">#}
                        {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                    {#</li>#}
                </ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_main_index') }}" class="btn btn-warning">Админка</a>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">Выйти</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_main_index') }}" class="btn btn-warning">Личный кабинет</a>
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary ml-2">Выйти</a>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning">Регистрация</a>
                    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary ml-2">Войти</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
{% endblock %}