{% extends 'profile/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">Редактирование новости</h1>

        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.tags) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}

    </div>
{% endblock %}