{% extends 'profile/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Мои новости</h3>

        <div class="text-right">
            <a href="{{ path('profile_news_create') }}" class="btn btn-primary">Добавить новость</a>
        </div>

        <table class="table table-hover mt-4">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'ID', 'n.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Название', 'n.title') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Содержание', 'n.content') }}</th>
                <th scope="col">Категории</th>
                <th scope="col">Таги</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата создания', 'n.createdAt') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'Дата публикации', 'n.publishedAt') }}</th>
                <th scope="col">Активность</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for news in pagination %}
                <tr>
                    <th scope="row">{{ news.id }}</th>
                    <td>{{ news.title }}</td>
                    <td>{{ news.content }}</td>
                    <td>
                        {% for category in news.categories %}
                            {{ category.title }}
                        {% endfor %}
                    </td>
                    <td>
                        {% for tag in news.tags %}
                            {{ tag.title }}
                        {% endfor %}
                    </td>
                    <td>{{ news.createdAt|date('d-m-Y') }}</td>
                    <td>{{ (news.publishedAt) ? news.publishedAt|date('d-m-Y') : '--' }}</td>
                    <td>{{ news.active ? 'Активный' : 'Неактивный' }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="{{ path('profile_news_edit', {id: news.id}) }}"
                               class="btn btn-primary">Редактировать</a>
                            <a href="{{ path('profile_news_delete', {id: news.id}) }}" class="btn btn-danger delete-news">
                                Удалить</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.delete-news').on('click', function () {
                if (confirm('Вы уверены что хотите удалить эту новость?')) {
                    return true;
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}