{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h3 class="mt-4">Панель администратора</h3>
        <p>Всякая полезная информация.</p>

    </div>
{% endblock %}